.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
}

.admonition-title {
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.admonition.note {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.admonition.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.admonition.danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.admonition.question {
    color: #33691e;
    background-color: #dcedc8;
    border-color: #c5e1a5;
}

.admonition.tip {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
